body {
  font-size: 1.5rem;
}

body p {
  font-size: 1.3rem;
}

.go {
  color: green;
}

.stop {
  color: red;
}

#demo {
  color: purple;
}

p {
  font-size: 15px;
}

.timeoutEx {
  background-color: rgb(70, 70, 125);
  padding: 20px;
}

.timeoutEx button {
  background: rgb(215, 118, 118);
  font-size: 20px;
}

#output {
  font-size: 20px;
  color: rgb(171, 168, 168);
  margin-top: 10px;
}
